.nav{
    position: fixed;
    z-index: 99999999;
    padding: 2vmax;
    display: flex;
    width: 100%;
    height: 8vh;
    /* height: 8svh; */
    background-color: #111111;
}
.dummynav{
    width: 100%;
    height: 8vh;
    /* height: 8svh; */
    background-color: azure;
}
.nav-logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    /* background-color: antiquewhite; */
}

#logo-img{
    height: 5rem;
    width: 5rem;
  
}
.nav-links-box{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
    height: 100%;
    /* background-color: rgb(168, 121, 59); */
}
.nav-signup-signin-box{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 100%;
    /* background-color: rgb(168, 121, 59); */
}
.nav-links-box  h5{
    font-size: 1rem;
    margin: 1.5vmin 1.5vmin 1.5vmin 1.5vmin;
}
.nav-signup-signin-box  h5{
    font-size:1rem;

    margin: 1.5vmin 1.5vmin 1.5vmin 1.5vmin;
}
.nav-links-box .navlinks{
    color: white;
    text-decoration: none;
    margin-right: 10px;

}
.nav-signup-signin-box .navlinks{
    color: white;
    text-decoration: none;
}


 .navlinks{
    position: relative;
  }
.navlinks:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    /* margin-top: 5px; */
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .3s ease;
  }
.navlinks:hover:after{
    width: 100%;
    left: 0;
    background: #fff;
  }
  