body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_card{
  height: 30vh;
  width: 25%;
  margin: 1rem;
  position: relative;
  overflow: hidden;
  background: rgba(146, 14, 14, 0.323);
  box-shadow: 0 4px 30px rgba(144, 61, 61, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
 
}

.btn{
  margin: 1rem;
  padding: 0.5rem 1.2rem;
  background-color: #eb9696;
  font-size: 1.2rem;
  border-radius: 100px;
}

.card{
  background-color: #ffffff0d;
}

.card_glaze{
  height: 40vh;
  /* width: 20%; */
  background-color: #f70000dd;
  /* border-top-right-radius: 3rem; */
  /* border-radius: 1rem; */
}

.card_text{
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #c1131392;
  color: #ffffff;
  position: absolute;
}

.card_text>h1{
  width: max-content;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-bottom: 10px;
}

.card_text>h3{
  padding: 0.4rem;
  font-weight: 500;
  width: max-content;
  background-color: rgb(155, 31, 31);
  border-radius: 5px;
}

.sec_one{
  padding: 2rem;
  height: 90vh;
  width: 100%;
  color: white;
  overflow: hidden;
}

.sec_two{
  padding: 1rem;
  height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: antiquewhite; */
}

.sec_two>h1{
  font-size: 4rem;
  color: white;
  position: absolute;
  width: 50%;
  top: 30%;
  left: 52%;

}

.sec_one_text>h1{
  font-size: 5rem;
  color: #ffffff;
  line-height: 80px;
}

.sec_one_text>h2{
  font-size: 2rem;
  color: #c8c8c89a;
}

.default_button{
  font-size: 2rem;
  background-color: #f7055a;
  color: #fff;
  border-radius: 100px;
  padding: 0.5rem 1.3rem;
  margin-top: 2rem;
}

.sec_one_text>button{
 font-size: 2rem;
 background-color: #f7055a;
 color: #fff;
 border-radius: 100px;
 padding: 0.5rem 1.3rem;
 margin-top: 2rem;
}

.sec_one_text{
  position: absolute;
  top: 30%;
  width: 50%;
  height: 60vh;
  z-index: 9;
}

.triangle_image{
  height: 85%;
  width: 40%;
  border: 3px solid #ba0645;
  background-color: #f7055a;
  position: absolute;
  top: 20%;
  right: 6%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background-position: right;
  background-image: url("https://images.unsplash.com/photo-1666667713147-79779a9c05f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
  /* background-image: url("https://images.unsplash.com/photo-1666795129484-5a1374d496aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"); */
}

.cir{
  height: 30vh;
  width: 15%;
  border-radius: 50%;
  background-color:#f7055ac0;
  position: absolute;
  left: 30%;
}

.cir2{
  height: 10vh;
  width: 5%;
  border-radius: 50%;
  background-color:#f7055ab7;
  position: absolute;
  left: 5%;
  bottom: 10%;
}



.cards{
  /* background-color: aquamarine; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 10%;
}

.sec_three{
  height: 40vh;
  width: 100%;
  padding: 2rem;
  /* background-color: #fff; */

}

.sec_four{
  height: 110vh;
  width: 100%;
  padding: 2vmax;
  color: white;
  position: relative;
}

.siblings{
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec_four_left{
  height: 100%;
  width: 50%;
  /* background-color: aqua; */
  padding: 1rem;
  position: relative;
}

.sec_four>.title{
  font-size: 3rem;
  font-weight: 100;
  
}
.sec_four>.title>h1{
  font-weight: 100;
}


span{
  color: #f7055a;
  font-weight: 700;
}

.box_one{
  height: 50vh;
  width: 70%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.sec_four_img{
  height: inherit;
  
}

.box_two{
  position: absolute;
  left: 60%;
  top: 60%;
  transform: translate(-50%,-50%);
  height: 50vh;
  width: 50%;
  background-color: #ef5757;
  border-radius: 10px;
  overflow: hidden;
}

.sec_four_right{
  height: 100%;
  width: 40%;
  /* background-color: #622a57; */
  padding: 1rem;
  position: relative;
}

.right_cir{
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid white;
  bottom: 15%;
  /* position: relative; */
}

.services_button{
  position: absolute;
  bottom: 18%;
  right: 20%;
}

.arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.sec_four_right>h3{
  font-size: 2.3rem;
  font-weight: 100;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sec_four_right>p{
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.sec_five{
  height: 100vh;
  width: 100%;
  /* background-color: #ffffff16; */
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

}

.sec_five_left{
  height: inherit;
  width: 50%;
  /* background-color: #fff; */
  padding: 1rem;
  padding-top: 8rem;
  position: relative;
}

.sec_five_left>h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 100;
}

.sec_five_left>h3{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 100;
}

.sec_five_left>p{
  width: 70%;
  font-size: 1.2rem;
  
}

.sec_five_right{
  height: inherit;
  width: 50%;
  /* background-color: #ea7575; */
  padding: 1rem;
  position: relative;
}

.sec_five_right_box{
  height: 60vh;
  width: 50%;
  background-color:#e03e46ce;
  /* background-color: #ea7575; */
  position: absolute;
  right: 20%;
  top: 10%;
  border-radius: 10px;
  overflow: hidden;
  
}
.sec_five_right_box:nth-child(2){
  right: 10%;
  background-color: transparent;
  top: 2%;
}

.sec_five_right_box>img{
  height: 100%;
  border-radius: 10px;
}

.sec_six{
  height: 80vh;
  width: 100%;
  /* background-color: #eb9696; */
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.sec_six_text>h1{
  font-size: 3rem;
font-weight: 100;
}

.sec_six_child{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 1rem;
  height: 60vh;
  width: 100%;
  background-color:#d20e17b7;
}

.overlay{
  height: inherit;
  width: 98%;
  position: absolute;
  background-color: #ffffff2c;
  left: 1%;
}

.sec_six_box{
  height: 78vh;
  width: 26%;
  /* background-color: #fff; */
  position: absolute;
  padding: 1rem;
  right: 3%;
  top: 0%;
  border: 2px solid white;
}

.sec_six_box>img{
  height: 100%;
}

.sec_six_text{
  width: 60%;
  z-index: 9;
}

.sec_seven{
  height: 100vh;
  width: 100%;
  /* background-color: #fff; */
  padding: 1rem;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_seven img{
  height: 110%;
}

.sec_seven_images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  width: 70%;
  overflow: hidden;
  /* background-color: #eb9696; */
}

.seven_right{
  height: 100%;
  width: 50%;
  /* background-color: #fff; */
  padding: 0.5rem;
}
.seven_left{
  height: 100%;
  width: 50%;
  /* background-color: #250404; */
  padding: 0.5rem;
}

.seven_img{
  height: 100%;
}

.big_image{
  height: 70%;
  width: 100%;
  /* background-color: aqua; */
  padding: 1rem 0.5rem;
  overflow: hidden;
}

.small_images{
  padding: 0.5rem;
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(42, 30, 170); */
}

.small_img{
  height: 96%;
  width: 47%;
  /* background-color: #fff; */
  padding: 0.5rem;
}

.sec_seven_text{
  position: absolute;
  height: 40vh;
  width: 50%;
  background-color: #e07676f1;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-weight: 300;

}

.sec_seven_text p{
  text-align: left;
  margin: 1rem;
  font-size: 1.1rem;
}

.sec_eight{
  height: 100vh;
  width: 100%;
  /* background-color: #fff; */
}

.company_box{
  height: 30vh;
  width: 18%;
  /* background-color: #fc575775; */
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  border: 1px solid #681919;
}

.company_box p{
  text-align: center;
  opacity: 0.6;
}

.company_box h2{
  font-size: 1.2rem;
  text-align: center;
}

.company_box img{
  height: 7vh;
}

.companies{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 80vh;
  width: 100%;
  /* background-color: #ba0645; */
}

.title{
  font-size: 4rem;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
  font-weight: 100;
}

.subText{
  font-size: 2rem;
  /* color: aqua; */
}


.scrolling_text {
  height: 40vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}

.text {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ba0645;
  animation: animate_text 30s linear infinite; /* The animation property */
}
.text span {
  margin: 0 40px;
}


@keyframes animate_text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}


/* FOOTER COMPONENT CSS*/



.footer {
  height: 50vh;
  width: 100%;
  background-color: #1e1e1e;
}


.cta{
  height: 60vh;
  width: 100%;
}


/*SERVICES CSS*/

.service_sec_one{
  height: 100vh;
  position: relative;
  width: 100%;
  color: white;
  padding: 1rem;
  /* background-color: #1e1e1e; */
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1633432695903-9ef31eec6a05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
  /* background-image: url("https://images.unsplash.com/photo-1619472351888-f844a0b33f5b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1856&q=80"); */
  /* background-image: url("https://images.unsplash.com/photo-1632373564036-cc8b7ce520c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80"); */
}

.service_sec_one h1{
  font-size: 4.5rem;
  padding: 5rem 2rem;
  border-radius: 10px;
  /* background-color: #ffffff3c; */
  position: absolute;
  left: 16%;
  top: 30%;
  transform: translate(0%,-50%);
  z-index: 999;
}

.service_sec_one button{
  position: absolute;
  bottom: 45%;
  left: 19%;
  /* transform: translate(-50%,0%); */
}

.left_img{
  top: 6%;
  right: 3%;
  position: absolute;
  height: 80%;
  width: 40%;
  background-color: #7e3c3c;
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1658487476799-cbe258fa344d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
  /* background-image: url("https://images.unsplash.com/photo-1643489031141-31f423398690?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80"); */
}

/* .service_sec_one span{
  border-radius: 100px;
  border: 1px solid white;
} */

.service_sec_two{
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

.service_sec_three{
  height: 40vh;
  width: 100%;
  background-color: #926666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_sec_four{
  position: relative;
  padding: 1rem;
  padding-left: 2rem;
  color: white;
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

.service_four_img{
  height: 80%;
  width: 40%;
  position: absolute;
  right: 0%;
  top: 20%;
  /* background-color: #ea8383; */
}

.service_four_img img{
  height: 100%;
  border-radius: 10px;
}

.service_four_img .big_img{
  height: 80%;
  width: 60%;
  /* background-color: #fff; */
  border-radius: 10px;
}

.service_four_img .small_img{
  position: absolute;
  height: 60%;
  width: 50%;
  /* background-color: #393030; */
  right: 10%;
  bottom: 5%;
  border-radius: 10px;
}

.service_sec_four>p{
  margin: 1rem;
  margin-left: 0%;
  width: 50%;
  font-size: 1.2rem;
}

.service_sec_four>h1{
  margin-bottom: 5rem;
}

.service_box{
  height: 47%;
  width: 43.5%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.7rem;
  border: 1px solid white;
  color: white;
}

.service_box h1{
  font-size: 4rem;
}

.left_service_box{
  height: 70%;
  width: 70%;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}

.small{
  height: 70%;
  padding: 1rem;
  width: 18%;
  text-align: center;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 1rem;
}

.left{
  height: 100%;
  width: 50%;
  padding: 1rem;
  
}

.right_text{

  width: 70%;
}

.right_text h1{
  font-size: 4rem;
}